.about {
    padding: 50px;
    color: #ffffff;
    margin-left: 150px;
}

.section-header {
    font-size: 18px;
    text-transform: uppercase;
    color: #a9b1d6;
    margin-bottom: 10px;
}

.about-title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.about-description {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;

    color: #b0b9cf;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: -20px;
}
.module-border-wrap{
    max-width: 250px;
    padding: 1rem;

    background: linear-gradient(to right, red, purple);
    padding: 3px;
    border-radius: 10px;
}

.card {
    position: relative;
    background: #141a2b;
    border: 1px solid #1f2a41;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.module-border-wrap:hover{
    transform: translateY(-10px);

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-icon img {
    width: 110px;
    height: 70px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
